@if (pageLoading) {
<div>
	<br><br>
	<app-loading></app-loading>
	<br><br>
</div>
}
@else {
<div class="center-text center sect">
	<h2 class="h2">Add Personnel</h2>
	<br><br>
	<mat-form-field class="m-input" appearance="fill" color="primary">
		<mat-label>Username</mat-label>
		<input type="text" matInput [(ngModel)]="username" autocomplete="off">
	</mat-form-field>
	<br><br>
	<mat-form-field class="m-input" appearance="fill" color="primary">
		<mat-label>First Name</mat-label>
		<input type="text" matInput [(ngModel)]="f_name" autocomplete="off">
	</mat-form-field>
	<br><br>
	<mat-form-field class="m-input" appearance="fill" color="primary">
		<mat-label>Last Name</mat-label>
		<input type="text" matInput [(ngModel)]="l_name" autocomplete="off">
	</mat-form-field>
	<br><br>
	<mat-form-field class="m-input" appearance="fill" color="primary">
		<mat-label>Personal Email</mat-label>
		<input type="email" matInput [(ngModel)]="p_email" autocomplete="off">
	</mat-form-field>
	<br><br>
	<div class="m-input flex center">
		<mat-form-field class="h-input" appearance="fill" color="primary">
			<mat-label>Corporate Email</mat-label>
			<input type="email" matInput [(ngModel)]="c_email" autocomplete="off">
		</mat-form-field>
		<div class="float">
			&#64;snlnigeria.org
		</div>
	</div>
	<br>
	<mat-form-field class="m-input" appearance="fill" color="primary">
		<mat-label>Preferred Email</mat-label>
		<mat-select [(value)]="c_email_preferred">
			<mat-option [value]="true">Corporate Email</mat-option>
			<mat-option [value]="false">Personal Email</mat-option>
		</mat-select>
	</mat-form-field>
	<br><br>
	<mat-form-field class="m-input" appearance="fill" color="primary">
		<mat-label>Phone Number</mat-label>
		<input type="text" matInput [(ngModel)]="phone" autocomplete="off">
	</mat-form-field>
	<br><br>
	<mat-form-field class="m-input" appearance="fill" color="primary">
		<mat-label>Department</mat-label>
		<mat-select [(value)]="d_id">
			@for (department of departments; track department) {
			<mat-option [value]="department.d_id">{{department.name}}</mat-option>
			}
		</mat-select>
	</mat-form-field>
	<br><br>
	<mat-form-field class="m-input" appearance="fill" color="primary">
		<mat-label>Direct Supervisor</mat-label>
		<mat-select [(value)]="s_id">
			@for (supervisor of administrators; track supervisor) {
			<mat-option [value]="supervisor.a_id">{{supervisor.f_name}} {{supervisor.l_name}} -
				{{supervisor.position.name}}</mat-option>
			}
		</mat-select>
	</mat-form-field>
	<br><br>
	<mat-form-field class="m-input" appearance="fill" color="primary">
		<mat-label>Position</mat-label>
		<mat-select [(value)]="p_id">
			@for (position of positions; track position) {
			<mat-option [value]="position.p_id">{{position.name}}</mat-option>
			}
		</mat-select>
	</mat-form-field>
	<br><br>
	<mat-form-field class="m-input" appearance="fill" color="primary">
		<mat-label>Access Level</mat-label>
		<mat-select [(value)]="access_level">
			@for (level of access_levels; track level) {
			<mat-option [value]="level.l_id">{{level.name}}</mat-option>
			}
		</mat-select>
	</mat-form-field>
	<br><br>
	@if (!createLoading) {
	<button class="button p-btn hov" (click)="validate()" matButton="filled" color="primary">Provision Account</button>
	}
	@else {
	<app-loading></app-loading>
	}
</div>
}