.m-input {
    width: 65%;
}

.h-input {
    width: 70%;
}

.p-btn {
    padding: 20px 100px;
    border-radius: 100px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.float {
    padding-top: 20px;
}