<div *ngIf="!pageLoading">
	<h2 class="center-text">SNL Nigeria Staff Access Levels</h2>
	<div class="right-text pad">
		<button [routerLink]="['/access-levels', 'create-access-level']" mat-fab color="primary"
			aria-label="Icon Button with an add icon">
			<mat-icon>add</mat-icon>
		</button>
	</div>
	<h4 class="center-text italic" *ngIf="access_levels.length === 0 && pageLoaded">No Access Levels</h4>
	<div class="level-div">
		<div *ngFor="let level of access_levels" class="dash-card">
			<span class="level-head">{{level.name}}</span>
			<span class="level-sub primary">{{level.permissions.join(' ')}}</span>
		</div>
	</div>
</div>
<div *ngIf="pageLoading">
	<br><br>
	<app-loading></app-loading>
</div>