<div *ngIf="!pageLoading">
	<h2 class="center-text">SNL Nigeria Departments</h2>
	<div class="right-text pad">
		<button [routerLink]="['/departments', 'create-department']" mat-fab color="primary" aria-label="Icon Button with an add icon">
			<mat-icon>add</mat-icon>
		</button>
	</div>
	<div *ngIf="departments.length === 0" class="center-text empty-div italic">
		No Available Departments
	</div>
	<div class="department-div">
		<div *ngFor="let department of departments" class="dash-card">
			<span class="right-text">
				<a mat-icon-button [routerLink]="['/departments', 'manage-department', department.d_id]">
					<mat-icon color="primary">settings</mat-icon>
				</a>
			</span>
			<span class="department-head">{{department.name}}</span>
		</div>
	</div>
</div>
<div *ngIf="pageLoading">
	<br><br>
	<app-loading></app-loading>
</div>