@if (!pageLoading) {
<div>
	@if (loaded) {
	<div>
		<div class="center sect posting-card">
			<h2 class="h2 center-text">{{round.name}}</h2>
			@if(round.open) {
			<div class="flex">
				<button class="button p-btn hov" (click)="view()" matButton="filled" color="primary">View
					Applications</button>
				@if (!closeLoading) {
				<button class="button p-btn hov" (click)="confirmClose()" matButton="filled" color="warn">Close Hiring
					Round</button>
				}
				@else {
				<app-loading></app-loading>
				}
			</div>
			}
			@else {
			<div class="center-text">
				<button class="button p-btn hov" (click)="view()" matButton="filled" color="primary">View
					Applications</button>
			</div>
			}
			<br><br>
			@if (round.open) {
			<div class="stat">
				Round Status: <span class="success">Open</span>
			</div>
			}
			@else {
			<div class="stat">
				Round Status: <span class="error">Closed</span>
			</div>
			}
			<br><br>
			<div class="italic primary">
				<span (click)="copyUrl()" class="hov">{{round.url}}</span>
			</div>
			<br><br>
			<div class="content">
				<span class="bold">Start Date:</span> {{round.start_date}}
			</div>
			<br><br>
			<div class="content">
				<span class="bold">End Date:</span> {{round.end_date}}
			</div>
			<br><br>
			<h3 class="center-text">Job Posting Content</h3>
			@for (position of round.positions; track position.name) {
			<div>
				<div class="f2">
					{{position.name}}
				</div>
				@for (seg of position.segments; track seg.text) {
				<div class="{{seg.format}}" innerHTML="{{seg.text}}"></div>
				}
				<hr>
			</div>
			}
		</div>
	</div>
	}

</div>
}
@else {
<div>
	<br><br>
	<app-loading></app-loading>
</div>
}