.pad {
    padding-right: 50px;
}

.training-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.dash-card {
    width: 200px;
}

.training-head {
    font-size: 18pt;
    font-weight: 600;
}

.training-sub {
    font-size: 14pt;
    font-style: italic;
}

.empty-div {
    margin-top: 100px;
}