<mat-drawer-container class="example-container mobile" [hasBackdrop]="true">
	<mat-drawer autofocus="true" #drawer class="sidenav" mode="over">
		<div class="right-text">
			<button mat-icon-button color="warn" (click)="drawer.toggle()">
				<mat-icon>
					<span class="icon material-symbols-outlined">close</span>
				</mat-icon>
			</button>
		</div>
		<div class="center-text side-logo">
			SNL Nigeria
		</div>
		<div class="mobile-nav">
			<span (click)="drawer.toggle()" class="mobile-nav-item"><a [routerLink]="['/team']">Our team</a></span>
			<span (click)="drawer.toggle()" class="mobile-nav-item"><a [routerLink]="['/contact']">Contact</a></span>
		</div>
	</mat-drawer>
	<mat-drawer-content>
		<mat-toolbar color="accent" class="mobile-flex">
			<div [routerLink]="['/']" class="pointer">
				<div class="s1">
					<div class="img-div">
						<span class="img-span">
							<img src="/assets/icon-white.png" alt="SNL Logo" [routerLink]="['/']" class="logo pointer">
						</span>
					</div>
					<span class="text-span hov" [routerLink]="['/']">SNL Nigeria</span>
				</div>
			</div>
			<button mat-icon-button (click)="drawer.toggle()">
				<mat-icon>
					<span class="icon material-symbols-outlined">menu</span>
				</mat-icon>
			</button>
		</mat-toolbar>
	</mat-drawer-content>
</mat-drawer-container>
<div class="navbar-div">
	<div class="desktop">
		<mat-toolbar color="accent" class="flex navbar">
			<div class="s1">
				<div class="img-div">
					<span class="img-span">
						<img src="/assets/icon-white.png" alt="SNL Logo" [routerLink]="loggedIn ? ['/home'] : ['/']"
							class="logo pointer">
					</span>
				</div>
				<span class="text-span hov" [routerLink]="loggedIn ? ['/home'] : ['/']">SNL Nigeria</span>
			</div>
			<div *ngIf="loggedIn">
				<span class="nav-mini-item">
					<img class="nav-img" src="{{uri}}" alt="Profile Photo of {{full_name}}">
				</span>
				<span class="nav-item">{{full_name}}</span>
				<span class="nav-item">
					<button mat-icon-button [routerLink]="['/settings']">
						<mat-icon color="primary">settings</mat-icon>
					</button>
				</span>
				<span class="nav-item">
					<button mat-icon-button (click)="logout()">
						<mat-icon color="primary">logout</mat-icon>
					</button>
				</span>
				<!-- <span class="nav-item"><a [routerLink]="['/team']">Our team</a></span> -->
			</div>
		</mat-toolbar>
	</div>
</div>