<mat-drawer-container [hasBackdrop]="true">
	<mat-drawer autofocus="true" #drawer class="sidenav mobile" mode="over" position="start">
		<div class="right-text">
			<button mat-icon-button color="warn" (click)="drawer.toggle()">
				<mat-icon>
					<span class="icon material-symbols-outlined">close</span>
				</mat-icon>
			</button>
		</div>
		<div class="center-text side-logo">
			SNL Nigeria
		</div>
		<div class="mobile-nav">
			<span (click)="drawer.toggle()" class="mobile-nav-item"><a [routerLink]="['/calendar']">Corporate
					Calendar</a></span>
			<span (click)="drawer.toggle()" class="mobile-nav-item"><a [routerLink]="['/settings']">Settings</a></span>
			<span (click)="drawer.toggle()" class="mobile-nav-item"><a (click)="logout()">Log Out</a></span>
		</div>
	</mat-drawer>
	<mat-drawer-content class="mobile">
		<mat-toolbar color="accent" class="mobile-flex">
			<div [routerLink]="['/']" class="pointer">
				<div class="s1">
					<div class="img-div">
						<span class="img-span">
							<img src="/assets/icon-white.png" alt="SNL Logo" [routerLink]="['/']" class="logo pointer">
						</span>
					</div>
					<span class="text-span hov" [routerLink]="['/']">SNL Nigeria</span>
				</div>
			</div>
			<div>
				<button mat-icon-button (click)="calendar.toggle()" color="primary">
					<mat-icon>
						<span class="icon material-symbols-outlined">calendar_month</span>
					</mat-icon>
				</button>
				<button mat-icon-button (click)="drawer.toggle()" color="primary">
					<mat-icon>
						<span class="icon material-symbols-outlined">menu</span>
					</mat-icon>
				</button>
			</div>
		</mat-toolbar>
	</mat-drawer-content>
	<mat-drawer autofocus="true" #calendar class="calendar-nav" mode="side" position="end">
		<div *ngIf="pageLoading">
			<br><br>
			<app-loading></app-loading>
		</div>
		<div *ngIf="pageLoaded">
			<div class="right-text">
				<button mat-icon-button color="warn" (click)="calendar.toggle()">
					<mat-icon>
						<span class="icon material-symbols-outlined">close</span>
					</mat-icon>
				</button>
			</div>
			<div class="center-text side-logo">
				Corporate Calendar
			</div>
			<div class="cal-nav">
				<h3 class="center-text primary">Upcoming Events</h3>
				<h5 *ngIf="upcoming_events.length === 0" class="center-text italic">No Upcoming Events</h5>
				<mat-card *ngFor="let event of upcoming_events" class="event-card hov" (click)="openCalendar(event.e_id)">
					<mat-card-content class="card-content">
						<div class="center-text bold primary">
							{{event.start_date | date:'MMM'}} {{event.start_date | date:'dd'}} - {{event.end_date | date:'MMM'}} {{event.end_date | date:'dd'}}
						</div>
						<br>
						<div>{{event.name}}</div>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</mat-drawer>
</mat-drawer-container>
<div class="navbar-div">
	<div class="desktop">
		<mat-toolbar color="accent" class="flex navbar">
			<div class="s1">
				<div class="img-div">
					<span class="img-span">
						<img src="/assets/icon-white.png" alt="SNL Logo" [routerLink]="loggedIn ? ['/home'] : ['/']"
							class="logo pointer">
					</span>
				</div>
				<span class="text-span hov" [routerLink]="loggedIn ? ['/home'] : ['/']">SNL Nigeria</span>
			</div>
			<div *ngIf="loggedIn">
				<span class="nav-mini-item">
					<img class="nav-img" src="{{uri}}" alt="Profile Photo of {{full_name}}">
				</span>
				<span class="nav-item">{{full_name}}</span>
				<span class="nav-item">
					<button mat-icon-button [routerLink]="['/settings']" title="Settings">
						<mat-icon color="primary">settings</mat-icon>
					</button>
				</span>
				<span class="nav-item">
					<button mat-icon-button (click)="logout()" title="Log Out">
						<mat-icon color="primary">logout</mat-icon>
					</button>
				</span>
				<!-- <span class="nav-item"><a [routerLink]="['/team']">Our team</a></span> -->
			</div>
		</mat-toolbar>
		<mat-toolbar class="right-flex navbar mini-navbar">
			<div class="s2">
				<span class="nav-item">
					<button mat-icon-button (click)="calendar.toggle()" title="Corporate Calendar">
						<mat-icon color="primary">calendar_month</mat-icon>
					</button>
				</span>
				<span class="nav-item">{{today}}</span>
			</div>
		</mat-toolbar>
	</div>
</div>