<div>
	<div class="center-text center sect">
		<h2 class="h2">Create Access Level</h2>
		<br><br>
		<mat-form-field class="m-input" appearance="fill" color="primary">
			<mat-label>Name</mat-label>
			<input type="text" matInput [(ngModel)]="name">
		</mat-form-field>
		<br><br>
		<mat-form-field class="m-input" appearance="fill" color="primary">
			<mat-label>Tier</mat-label>
			<input type="number" matInput [(ngModel)]="tier" min="1" max="6">
		</mat-form-field>
		<br><br>
		<button *ngIf="!createLoading" class="button p-btn hov" (click)="validate()" mat-raised-button
			color="primary">Create Access Level</button>
		<app-loading *ngIf="createLoading"></app-loading>
	</div>
</div>