@import 'variables.scss';

.sect {
    width: 50%;
}

.m-input {
    width: 65%;
}

.p-btn {
    padding: 20px 100px;
    border-radius: 100px;
}

.blank {
    width: 80%;
    display: block;
    margin: 100px auto 50px auto;
    background-color: $light;
}

.h2 {
    font-size: 32px;
}

.qrcode {
    width: 100%;
}

.key-div {
    margin-bottom: 30px;
    width: 90%;
    padding: 10px;
    line-height: 1.5em;
}


@media only screen and (max-width: 600px) {

    //smaller mobile devices
    .blank {
        width: 80%;
    }
}

@media only screen and (min-width: 600px) {

    //small mobile devices
    .blank {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) {

    //tablets
    .blank {
        width: 60%;
    }
}

@media only screen and (min-width: 992px) {

    //laptops and larger
    .blank {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {

    //laptops and larger
    .blank {
        width: 40%;
    }
}