<div>
	<div *ngIf="!verifying" class="center-text center sect">
		<h2 class="h2">Log In</h2>
		<br><br>
		<mat-form-field class="m-input" appearance="fill" color="primary">
			<mat-label>Enter your Username</mat-label>
			<input type="text" matInput [(ngModel)]="username">
		</mat-form-field>
		<br><br>
		<mat-form-field class="m-input" appearance="fill">
			<mat-label>Enter your Password</mat-label>
			<input type="{{obscurePassword ? 'password' : 'text'}}" (keyup.enter)="login()" matInput [(ngModel)]="password">
			<button mat-icon-button matSuffix (click)="toggleObscurity()">
				<mat-icon>{{obscurePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
		</mat-form-field>
		<br><br>
		<button *ngIf="!loading" class="button p-btn hov" (click)="login()" mat-raised-button color="primary">Log In</button>
		<app-loading *ngIf="loading"></app-loading>
	</div>
	<div *ngIf="verifying && !firstUse" class="center-text center sect">
		<h2 class="h2">Two-Factor Authentication</h2>
		<br><br>
		<mat-form-field class="m-input" appearance="fill">
			<mat-label>Enter your 2FA Code</mat-label>
			<input type="number" matInput (keyup.enter)="verify()" [(ngModel)]="code" autofocus>
		</mat-form-field>
		<br><br>
		<button *ngIf="!loading" class="button p-btn hov" (click)="verify()" mat-raised-button color="primary">Verify Code</button>
		<app-loading *ngIf="loading"></app-loading>
	</div>
	<div *ngIf="verifying && firstUse" class="center-text center sect">
		<h2 class="h2">Set up Authentication</h2>
		<br><br>
		<h3>
			Scan the QR code with your preferred Authenticator App then fill in the code from your App in the field provided below.
		</h3>
		<div class="blank">
			<img src="{{qr_code}}" alt="QR Code" class="qrcode">
		</div>
		<div class="key-div">
			Can't scan the code? Use this setup key:
			<br>
			<span (click)="copySetupKey()" class="hov primary">{{code_to_display}}</span>
			<span class="primary">&nbsp;&nbsp;<mat-icon>content_copy</mat-icon></span>
		</div>
		<mat-form-field class="m-input" appearance="fill">
			<mat-label>Enter the Code provided by your App</mat-label>
			<input type="number" (keyup.enter)="validate()" matInput [(ngModel)]="code">
		</mat-form-field>
		<br><br>
		<button *ngIf="!loading" class="button p-btn hov" (click)="validate()" mat-raised-button color="primary">Confirm</button>
		<app-loading *ngIf="loading"></app-loading>
	</div>
</div>