.sect {
    width: 50%;
}

.m-input {
    width: 65%;
}

.toggle {
    display: flex;
    justify-content: center;
}

.slide {
    margin-left: 20px;
}

.p-btn {
    padding: 20px 100px;
    border-radius: 100px;
}

textarea {
    height: 5em;
}