.page {
    display: flex;
    padding: 10px;
}

.main-content {
    width: 70%;
}

.sidebar {
    width: 30%;
    padding: 10px 40px;
}

.assets-div, .content-div {
    min-height: 40vh;
}

.pad {
    padding-right: 50px;
    padding-top: 50px;
}

.start-div {
    margin-top: 100px;
}

.content-div {
    margin-top: 50px;
    padding: 20px;
    width: 80%;
    border: 1px dotted black;
}

.content-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.preview-img {
    display: block;
    margin: 20px auto;
    max-width: 95%;
}

//test questions

.test-page {
    width: 70%;
    margin: 30px 50px;
    padding: 30px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

.question-text {
    font-size: 18pt;
    font-weight: 500;
    margin-bottom: 50px;
}

.question-option {
    display: flex;
    align-items: center;
}

.option-text {
    margin-left: 20px;
    font-size: 14pt;
}
//assets

.asset {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asset-actions {
    display: flex;
}