.pad {
    padding-right: 50px;
}

// .staff-div {
//     display: grid;
//     // flex-direction: row;
//     // flex-wrap: wrap;
//     // justify-content: flex-start;
//     // align-items: center;
//     // grid-template-columns: auto;
//     gap: 50px;
// }

.staff-div {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
}

.dash-card {
    width: 200px;
}

.staff-head {
    font-size: 18pt;
    font-weight: 600;
}

.staff-sub {
    font-size: 14pt;
    font-style: italic;
}

.empty-div {
    margin-top: 100px;
}

.icon-img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}