<div *ngIf="pageLoading">
	<br><br>
	<app-loading></app-loading>
	<br><br>
</div>
<div *ngIf="pageLoaded">
	<div class="sections">
		<div class="section s1">
			<h3 class="center-text primary">Upcoming Events</h3>
			<h5 *ngIf="upcoming_events.length === 0" class="center-text italic">No Upcoming Events</h5>
			<mat-card *ngFor="let event of upcoming_events" class="event-card">
				<mat-card-content class="card-content">
					<div class="r-div">
						<span>Starts</span>
						<br>
						<div class="cal-div">
							{{event.start_date | date:'MMM'}}
							<br>
							{{event.start_date | date:'dd'}}
						</div>
					</div>
					<div class="c-div">
						<h2>{{event.name}}</h2>
						<div class="left-text">
							<div *ngIf="event.description.length > 0">
								<h5 class="center-text primary">Description</h5>
								<div class="small-text italic">{{event.description}}</div>
							</div>
							<div>
								<h5 class="center-text primary">Invitees</h5>
								<p *ngIf="event.group === 'g'" class="s-dark">Company-Wide</p>
								<p *ngIf="event.group !== 'g'"><span class="bold">{{event.group_name}}:</span>
									{{event.group_invitee_names.join(', ')}}</p>
								<div *ngIf="event.group !== 'i'">
									<p *ngIf="event.access_levels.length === access_levels.length"><span
											class="bold">Access Levels:</span> <span class="s-dark"> All Access
											Levels</span></p>
									<p *ngIf="event.access_levels.length !== access_levels.length"><span
											class="bold">Access Levels:</span> {{event.access_levels.join(', ')}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="l-div">
						<span>Ends</span>
						<br>
						<div class="cal-div">
							{{event.end_date | date:'MMM'}}
							<br>
							{{event.end_date | date:'dd'}}
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="section s2 center-text">
			<h3 class="center-text primary">Previous Events</h3>
			<h5 *ngIf="previous_events.length === 0" class="center-text italic">No Previous Events</h5>
			<div *ngFor="let event_year of previous_events; index as i">
				<mat-expansion-panel class="year-card" (opened)="loadPreviousEvents(i)">
					<mat-expansion-panel-header>
						<mat-panel-title class="header"> {{event_year.year}} Events </mat-panel-title>
					</mat-expansion-panel-header>
					<div *ngIf="event_year.loading">
						<br><br>
						<app-loading></app-loading>
						<br><br>
					</div>
					<h5 *ngIf="event_year.events.length === 0 && event_year.loaded" class="center-text italic">No Events for {{event_year.year}}</h5>
					<mat-card *ngFor="let event of event_year.events" class="event-card">
						<mat-card-content class="card-content">
							<div class="r-div">
								<span>Started</span>
								<br>
								<div class="cal-div">
									{{event.start_date | date:'MMM'}}
									<br>
									{{event.start_date | date:'dd'}}
								</div>
							</div>
							<div class="c-div">
								<h2>{{event.name}}</h2>
								<div class="left-text">
									<div *ngIf="event.description.length > 0">
										<h5 class="center-text primary">Description</h5>
										<div class="small-text italic">{{event.description}}</div>
									</div>
									<div>
										<h5 class="center-text primary">Invitees</h5>
										<p *ngIf="event.group === 'g'" class="s-dark">Company-Wide</p>
										<p *ngIf="event.group !== 'g'"><span class="bold">{{event.group_name}}:</span>
											{{event.group_invitee_names.join(', ')}}</p>
										<div *ngIf="event.group !== 'i'">
											<p *ngIf="event.access_levels.length === access_levels.length"><span
													class="bold">Access Levels:</span> <span class="s-dark"> All Access
													Levels</span></p>
											<p *ngIf="event.access_levels.length !== access_levels.length"><span
													class="bold">Access Levels:</span> {{event.access_levels.join(', ')}}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="l-div">
								<span>Ended</span>
								<br>
								<div class="cal-div">
									{{event.end_date | date:'MMM'}}
									<br>
									{{event.end_date | date:'dd'}}
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</mat-expansion-panel>
			</div>
		</div>
	</div>
</div>