@use 'variables.scss';

.h3 {
    font-weight: 500;
    font-size: 14pt;
    margin-bottom: 100px;
}

.margin {
    margin-top: 100px;
}

.m-input {
    width: 65%;
}

.toggle {
    display: flex;
    justify-content: center;
}

.slide {
    margin-left: 20px;
}

.p-btn {
    padding: 20px 100px;
    border-radius: 100px;
}

.textarea {
    height: 15em;
}

.profile-circle {
    width: 200px;
    height: 200px;
    display: flex;
    margin: 0 auto;
    border: 2px solid variables.$primary;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-icon {
    height: 150px;
    width: 150px;
    font-size: 150px;
    color: variables.$p-dark;
}

.profile-photo {
    height: 180px;
    width: 180px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.edit-icon {
    color: variables.$s-dark;
    height: 25px;
    width: 25px;
    font-size: 25px;
    position: absolute;
    bottom: 5px;
}

.edit-icon:hover {
    color: variables.$grey;
}

input[type="file"] {
    display: none;
}

.profile-crop-circle {
    position: relative;
}

image-cropper {
    max-height: 50vh;
}

.crop-icon {
    color: variables.$s-dark;
    height: 25px;
    width: 25px;
    font-size: 25px;
}

.crop-actions {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.crop-icon-left {
    color: variables.$warn;
}

.crop-icon-right {
    color: variables.$success;
}

.crop-icon-left:hover {
    color: #b63d00;
}

.crop-icon-right:hover {
    color: #34c500;
}